<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script src="/assets/js/event_runner.js"></script>
  <title>Event Search</title>
  <style>
    /* small UX nicety */
    #event-list li {
      cursor: pointer;
    }

    @font-face {
      font-family: lcd;
      src: url(/assets/font/7segment.woff);
    }

    button {
      touch-action: manipulation;
    }
  </style>
</head>

<body class="font-monospace lh-sm" onload="onBodyLoad()">
  <!-- On start, make button inactive. Pausing makes it active again.-->
  <!-- Add confirm for reset and quit-->
  <div class="container-lg">
    <div id="roundNumRow" class="row bg-danger text-white fw-bold fs-2">
      <div class="col-3">
        Round:
      </div>
      <div id="roundNum" class="col-2">
        -
      </div>
      <div class="col-3">
        Group:
      </div>
      <div id="groupLetter" class="col-4">
        -
      </div>
    </div>
    <div id="roundNameRow" class="row bg-danger text-white fs-6 text-center">
      <div id="roundDescription" class="col">
        --------
      </div>
    </div>
    <div id="sectionRow" class="row bg-danger text-white fw-bold fs-2 text-center">
      <div id="sectionDescription" class="col">
        -----
      </div>
    </div>
    <div class="row">
      <div id="bigTime" class="col text-center fst-normal" style="font-size: 30vw; font-family: lcd">--:--</div>
    </div>

    <div id="controls" class="row">

      <div class="row p-3 mx-auto">
        <button id="start" class="btn btn-primary btn-lg">
          <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentColor" class="bi bi-play-btn-fill"
            viewBox="0 0 16 16">
            <path
              d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
          </svg></button>
      </div>

      <div class="row p-3 mx-auto">
        <div class="btn-group" role="group">
          <button id="skip_previous" type="button" class="btn btn-primary">
            <!-- Skip Back -->
            <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentColor"
              class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
              <path
                d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407" />
            </svg></button>
          <button id="skip_back" type="button" class="btn btn-primary">
            <!-- Back -->
            <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentcolor"
              class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">

              <path
                d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m9.71-6.907L7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407" />
            </svg>
          </button>
          <button id="pause" type="button" class="btn btn-primary">
            <!-- Pause -->
            <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentcolor" class="bi bi-pause-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m6.25-7C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5m3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5" />
            </svg></button>
          <button id="skip_fwd" type="button" class="btn btn-primary">
            <!-- Forward -->
            <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentcolor"
              class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">

              <path
                d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407L9.5 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528z" />

            </svg></button>
          <button id="skip_next" type="button" class="btn btn-primary">
            <!-- Skip Forward -->
            <svg xmlns="http://www.w3.org/2000/svg" height="10vw" fill="currentColor"
              class="bi bi-skip-forward-btn-fill" viewBox="0 0 16 16">
              <path
                d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m4.79-6.907A.5.5 0 0 0 4 5.5v5a.5.5 0 0 0 .79.407L7.5 8.972V10.5a.5.5 0 0 0 .79.407L11 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L8.29 5.093a.5.5 0 0 0-.79.407v1.528z" />
            </svg></button>
        </div>
      </div>


            <div class="row p-1 mx-auto">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#gotoGroupRound" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <svg xmlns="http://www.w3.org/2000/svg" height="6vw" fill="currentColor" class="bi bi-caret-down-square-fill"
            viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6z" />
          </svg>
          Show/Hide Goto Group/Round
        </a>
      </div>
      <div class="collapse" id="gotoGroupRound">
      <div class="row p-3 mx-auto ">
        
        <div class="col">

          <form class="form" id="goto-form" onsubmit="return false;"></form>
          <label class="form-label" for="round">Round:</label>
          <select id="roundSelect" name="round">
            {{ rounds|safe }}
          </select>


          <label class="form-label" for="group">Group:</label>
          <select id="groupSelect" name="group">
            {{ groups|safe }}
          </select>
          </form>

        </div>
        <div class="col-3 align-self-center">
          <button id="goto" type="button" class="btn btn-primary align-middle">
            <!-- Skip Forward -->
            <svg xmlns="http://www.w3.org/2000/svg" height="8vw" fill="currentColor"
              class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
            </svg></button>
        </div>



      </div>
</div>

      <div class="row p-1 mx-auto">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#timingSettings" role="button" aria-expanded="false"
          aria-controls="timingSettings">
          <svg xmlns="http://www.w3.org/2000/svg" height="6vw" fill="currentColor" class="bi bi-caret-down-square-fill"
            viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6z" />
          </svg>
          Show/Hide Timing Settings
        </a>
      </div>
      <div class="collapse" id="timingSettings">
        <div class="row p-3 mx-auto">
          <div class="col">
            <div class="mb-2">
              <label class="form-label" for="prep_time">Prep Time:</label>
              <select class="form-select" id="prep_time">
                {% for m in range(1, 11) %}
                <option value="{{ m * 60 }}" {{ 'selected' if prep_time == m * 60 else '' }}>{{ m }} min</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-2">
              <label class="form-label" for="group_separation_time">Group Separation Time:</label>
              <select class="form-select" id="group_separation_time">
                {% for m in range(1, 11) %}
                <option value="{{ m * 60 }}" {{ 'selected' if group_separation_time == m * 60 else '' }}>{{ m }} min</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-2">
              <label class="form-label" for="competition_start_time">Competition Start Time:</label>
              <select class="form-select" id="competition_start_time">
                {% for m in range(430, 961, 5) %}
                <option value="{{ m }}" {{ 'selected' if competition_start_time == m else '' }}>{{ '%02d:%02d' % (m // 60, m % 60) }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-2 form-check">
              <input type="checkbox" class="form-check-input" id="use_strict_test_time" {{ 'checked' if use_strict_test_time else '' }}>
              <label class="form-check-label" for="use_strict_test_time">Use Strict Test Time</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-1 mx-auto">
        <a class="btn btn-warning" data-bs-toggle="collapse" href="#extraControls" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <svg xmlns="http://www.w3.org/2000/svg" height="6vw" fill="currentColor" class="bi bi-caret-down-square-fill"
            viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6z" />
          </svg>
          Show/Hide Shutdown/Reset
        </a>
      </div>
      <div class="collapse" id="extraControls">


        <div class="row p-1 mx-auto">
          <a href="/sound-test" class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" height="6vw" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
              <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
              <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
              <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
            </svg>
            Sound Test
          </a>
        </div>
        <div class="row p-1 mx-auto">
          <button id="reset" class="btn btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" height="6vw" fill="currentColor"
              class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
              <path
                d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
            </svg>
            Reset Event
            </a>
        </div>
        <div class="row p-1 mx-auto">
          <button id="quit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="6vw" height="6vw"
              fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
            </svg> Quit</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>